.content {
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.testContent {
  @extend .content;

  background-color: var(--rose);
}

.giftsContent {
  @extend .content;

  background-color: var(--yellow);
}

.header {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: var(--white);
  text-align: center;
}

.imageContentWrapper {
  display: flex;
  position: relative;
}

.image25 {
  width: 25%;
}

.image50 {
  width: 50%;
}

.btnWrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 55px;
}

.carousel {
  width: 60%;
}

.carouselImageWrapper {
  width: 100%;
  height: 100%;
}

.carouselImage {
  width: 100%;
  height: 100%;
}